*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

/* header */
header{
    width: 100vw;
    height: 10vh;
    background-color: black;
    padding: 3px;
}

.flex{
    display: flex;
}

.header-button.flex{
    justify-content: flex-end;
}

.header-button.flex button{
    color: white;
    background-color: rgb(74,74,74);
    font-size: 10px;
    padding: 3px;
    border-color: rgb(74,74,74);
    border-radius: 5px;
    margin-right: 2px;
}
/* header */

/* main */
main{
    margin: 0 auto;
    height: 80vh;
    overflow: auto;
}

.reunion.flex{
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    position: relative;
    padding: 5px;
}

.name-participants{
    color: white;
    background-color: rgb(74,74,74);
    font-size: 10px;
    padding: 3px;
    position: absolute;
    left: 5px;
    bottom: 10px;
}
/* main */

/* footer */
footer{
    background-color: rgb(34,34,34);
    height: 10vh;
    width: 100%;
    padding: 10px;
}

.option-footer{
    justify-content: space-between;
}

.content-footer{
    color: white;
}

.icon{
    padding: 5px;
    font-size: 25px;  
}

.icon.middle{
    padding: 10px 25px;
}

.icon.middle.big{
    padding: 10px 40px;
}

.angle{
    font-size: 10px;
    padding: 10px;
}

.text-icon{
    font-size: 14px;
}

.text-icon.middle{
    padding: 10px 16px;
}

#center{
    margin-left: 20px;
}

#green{
    color: limegreen;
}

#cells{
   padding: 10px 50px; 
}

#chat{
    padding: 0px 35px;
}

.btn-footer{
    color: red;
    background-color: rgb(74,74,74);
    border-color: rgb(74,74,74);
    padding: 20px;
}